# Entorno y Secretos
.env
.env.local
.env.stack

# Dependencias
node_modules/
dist/
build/

# Archivos del Sistema
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-error.log*

# Bases de datos SQLite
*.sqlite
*.sqlite3
*.db
*.db-journal
*.db-shm
*.db-wal

# Entornos Virtuales
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/